html {
    overflow-y: scroll
}

body {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    background-color: white;
    line-height: 1.5;
}

h1,h2,h3 {
    line-height:1.0;
	color: #001E62;
}

a:link, a:visited {
	text-decoration: none;
	/* color: #009CDE; */
	color: #001E62;
}

a:hover {
	color: #89ABE3;
}

code {
    /* default styling for now */
}

pre {
    color: #ffffff;
    border-radius: 10px;
    background:#272822;
    padding:15px;
    white-space: pre-wrap
}

article {
    padding:24px 0
}

nav {
    margin-top:10px;
    font-family: sans-serif;
    text-transform: lowercase;
    color: black;
    font-size: 30px;
}

#links {
    display: inline;
    width: 60%;
    text-decoration: none;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 60%;
}

#pic {
	border-radius: 60px;
	width: 15%;
        text-align: right;
}

#gif {
	margin-bottom: 30px;
	border-radius: 3px;
	width: 40%;
}

#social-entries {
    display: inline;
    text-align: right;
    margin-left: 20px;
    color: black;
    text-transform: inherit;
}

#social-entries-alt {
    display: none;
    /* text-align: right;*/
    margin-left: 20px;
    color: black;
    text-transform: inherit;
}

#logo {
    font-size: 50px;
    text-transform: lowercase;
    font-family: sans-serif;
    text-decoration: none;
    color: #91e615;
    font-weight: 1000;
}

.share-btn:hover {
    	fill: grey;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#entry {
    text-underline-offset: 15px;
    font-weight: lighter;
    margin-right: 10px;
    color: black;
    text-decoration: underline;
}

#sub-entry {
    text-underline-offset: 15px;
    font-weight: lighter;
    margin-right: 10px;
    color: black;
    text-decoration: underline;
}

#entry:hover {
	color: grey;
}

.social-share {
	position: relative;
	top: -0.5em;
}
 
.social-share ul {
	margin: 0;
}
 
.social-share ul li p {
	display: none;
}
 
.social-share .share-icons li {
	padding: 0 !important;
	padding-bottom: 10px !important;
}

.social-share-nav .share-btn h3 {
	color: #ffffff;
}

#footer-info {
    display: block;
    margin-top: 30px;
}

ul.share-icons {
	cursor: default;
	list-style: none;
	background: #000000;
}

ul.share-icons li {
	display: inline-block;
	padding: 0 2em 0 0;
}

ul.share-icons li:last-child {
	padding-right: 0;
}

ul.share-icons li > * {
	text-decoration: none;
	border: 0;
}

ul.share-icons li > *:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul.share-icons li > * .label {
	display: none;
}
 
.share-btn {
    display: inline-flex;
    width: 18px;
    height: 18px;
    fill: rgb(0, 0, 0);
    border: none;
    text-decoration: none;
    padding-right: 5mm;
}

.share-btn:active {
	position: relative;
	top: 5px;
	box-shadow: none;
	color: #ffffff;
	outline: none;
}

/* @media only screen and (min-width : 0px) and (max-width: 550px) {
    #social-entries { display: none; } 
} */

@media only screen and (max-width : 550px) {
    #social-entries { display: none; }
    #social-entries-alt {display: inline; }
}

@media only screen and (min-width : 999px) {
   #social-entries { display: inline; }
   #social-entries-alt {display: none; }
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-underline-offset: 7px;
}

article {
    font-family: Arial, Helvetica, sans-serif;
}

#BIG {
    text-decoration: none;
	margin-bottom: 40px;
	color: #001E62;
}

#MEDIUM {
    color: black;
    border-radius: 60px;
    margin-top:10px;
    font-family: sans-serif;
	color: #3B3B3B;
}

@media (prefers-color-scheme: dark){
    body {
        color: white;
        background: #242424;
    }

    a:link, a:visited {
        color: #7deeba;
    }

    a:hover {
        color: #b0ffda;
    }

    .share-btn {
        fill: white;
    }

    .share-btn:hover {
    	fill: grey;
    }
    
    #logo {
        font-size: 50px;
        text-transform: lowercase;
        font-family: sans-serif;
        text-decoration: none;
        color: #91e615;
        font-weight: 1000;
    }

    #entry:hover {
        color: #fdfdfd !important;
    }
    
    #entry {
	text-decoration: underline;
        color: white;
    }
    
    .post-title {
        text-decoration: none;
    }

    #BIG {
        text-decoration: none;
        color: white;
    }

    h1,h2,h3 {
        line-height:1.0;
        color: #fff;
    }

    #MEDIUM {
        color: white;
        text-decoration: none;
    }

    #sub-entry { 
        text-underline-offset: 10px;
        font-weight: lighter;
        margin-right: 10px;
        color: white;
        text-decoration: underline;
    }
}
