name: Build and Deploy Site

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          submodules: true
      - name: Build Site
        uses: chabad360/hugo-actions@master
      # Copy static files for Go embed
      - name: Copy static files to server/static
        run: |
          rm -rf server/static
          mkdir -p server/static
          cp -r static/* server/static/
      # Setup emulation
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      # Build and push Docker image to Docker Hub
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/alexanderstephan-xyz:latest
